# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
*~

# directories
tp1
compress

# dat-file in resdata
resdata/*

# object excuted file
hpw



/hpwBoltzman.sln
/hpwBoltzman.ncb
/hpwBoltzman.vcproj.user
/*.user
/*.vcproj
Debug
/hpwBoltzmann.sln
/hpw.exe
*.suo
